.contactListItemBtn {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    align-items: right;
    background-color: rgba(0, 0, 255);
    border: none;
    border-radius: 6px;
    color: #fff;
    flex-grow: 1;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 13px;
    height: 36px;
    line-height: 20px;
    margin-left: 8px;
    margin-right: 6px;
    min-width: 50px;
    padding: 0 16px 0 16px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .contactListItemBtn:hover {
    background-color: rgba(135, 206, 250);
    cursor: pointer;
  }